interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.up.com.au/api/v1/transactions/34642cf9-7017-41b4-ac52-98f955d5fe48
  response:
    body:
      yaml:
        data:
          attributes:
            amount:
              currencyCode: AUD
              value: '-11.95'
              valueInBaseUnits: -1195
            cardPurchaseMethod:
              cardNumberSuffix: '1234'
              method: ECOMMERCE
            cashback: null
            createdAt: '2022-03-19T06:03:29+11:00'
            description: Spotify
            foreignAmount: null
            holdInfo:
              amount:
                currencyCode: AUD
                value: '-11.95'
                valueInBaseUnits: -1195
              foreignAmount: null
            isCategorizable: true
            message: null
            rawText: Spotify 0123456789
            roundUp: null
            settledAt: null
            status: HELD
          id: 34642cf9-7017-41b4-ac52-98f955d5fe48
          links:
            self: https://api.up.com.au/api/v1/transactions/34642cf9-7017-41b4-ac52-98f955d5fe48
          relationships:
            account:
              data:
                id: d7967cba-0894-47f8-bbbc-c152b0d9e46f
                type: accounts
              links:
                related: https://api.up.com.au/api/v1/accounts/d7967cba-0894-47f8-bbbc-c152b0d9e46f
            category:
              data:
                id: tv-and-music
                type: categories
              links:
                related: https://api.up.com.au/api/v1/categories/tv-and-music
                self: https://api.up.com.au/api/v1/transactions/34642cf9-7017-41b4-ac52-98f955d5fe48/relationships/category
            parentCategory:
              data:
                id: good-life
                type: categories
              links:
                related: https://api.up.com.au/api/v1/categories/good-life
            tags:
              data: [ ]
              links:
                self: https://api.up.com.au/api/v1/transactions/34642cf9-7017-41b4-ac52-98f955d5fe48/relationships/tags
            transferAccount:
              data: null
          type: transactions
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://api.up.com.au/api/v1/transactions/34642cf9-7017-41b4-ac52-98f955d5fe48
version: 1
